{{> adminHeader }}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Người dùng</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Danh Sách Người dùng
            </div>
            <div class="card mb-3">
                <form action="/phancong/add" method="POST">
                    <div class="card shadow">
                        <div class="card-body">
                            {{#if success}}
                            <div class="alert alert-success" role="alert">
                                Phân công thành công. <a href="./">Back</a>
                            </div>
                            {{else}}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="ID">#</label>
                                    {{#each nguoidung}}
                                    <input readonly type="text" class="form-control" id="IDEd" name="IDEd"
                                        value="{{MaTaiKhoan}}">
                                    {{/each}}
                                </div>
                                <div class="form-group">
                                    <h6 for="txtCM">Phân công chuyên mục : </h6>
                                    <select id="txtCM" name="IDChuyenMuc" class="form-control">
                                        {{#each phancong}}
                                        <option value="{{IDChuyenMuc}}">{{TenChuyenMuc}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a class="btn btn-outline-primary" href="/phancong" role="button" title="Back">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            List
                        </a>
                        {{#unless this.error}}
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Save
                        </button>
                        {{/unless}}
                        {{/if}}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        {{> adminFooter}}