<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Simple Login Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	body {
        background:#006eff3d;
    }
    .login-form {
		width: 445px;
    	margin: 50px auto;
        
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="login-form">
    <form action="" method="POST">
        <h2 class="text-center">Chage Password</h2>  
        {{!-- <div class="form-group">
            <input type="text" class="form-control" placeholder="User name" required="required" name = "username">
        </div>      --}}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mật khẩu cũ" required="required" name = "password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mật khẩu mới" name ="newpassword" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nhập lại mật khẩu mới" name ="retypepassword" required="required">
        </div>
        
          {{#if errors}}
          {{#each errors}}
			<div class="mess_errlogin">
				<li style="color:salmon">{{msg}}</li>
		  {{/each}}	
			</div>
		{{/if}}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Xác nhận đổi mật khẩu</button>
        </div>
        <!-- <div class="clearfix">
            <label class="pull-left checkbox-inline"><a href="#">Forgot Password?</a></label>
            <a href="#" class="text-center" style="padding-left: 14px;">Forgot Password?</a>
        </div>         -->
    </form>
    <p class="text-center"><a href="/">Về index</a></p>
</div>
</body>
</html>                                		                            