{{> adminHeader }}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Chuyên Mục</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Chỉnh sửa</div>

            <form action="/quanlychuyenmuc/updatechm" method="POST">
                <div class="card shadow">
                    <div class="card-body">
                        {{#if success}}
                        <div class="alert alert-success" role="alert">
                            Thành công. <a href="./">Back</a>
                        </div>
                        {{else}}
                        {{#each chitiet}}
                        <div class="form-group">
                            <label for="txtID">#</label>
                            <input readonly type="text" class="form-control" id="txtID" name="IDChuyenMuc"
                                value="{{IDChuyenMuc}}">
                        </div>
                        <div class="form-group">
                            <label for="txtTenCM">Tên chuyên mục</label>
                            <input type="text" class="form-control" id="txtTenCM" name="TenChuyenMuc"
                                value="{{TenChuyenMuc}}">
                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <a class="btn btn-outline-primary" href="/quanlychuyenmuc" role="button" title="Back">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            List
                        </a>
                        {{#unless this.error}}
                        <button type="submit" class="btn btn-danger"
                            formaction="/quanlychuyenmuc/deletechm/{{IDChuyenMuc}}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Delete
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Save
                        </button>
                        {{/unless}}
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    {{> adminFooter}}