<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use bootrap,font awesome cho sửa giao diện -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <title>Trang Chủ</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/user/css/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/static/user/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->

    <link type="text/css" rel="stylesheet" href="/static/user/css/style.css" />

    <style>

    </style>


</head>

<body>

    <!-- Header -->
    <header id="heade containerr">
        <div class="header-top">
            <div class="container">
                <div class="row ">
                    <ul class="list-inline">
                        <li><i class="fas fa-calendar-alt"> <span id="Console"></span></i></li>
                        <li><a href="dangky">Sign Up</a></li>
                        <li><a href="dangnhap">Sign In</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-site">
            <div class="container">
                <button class="btn btn-show-menu hidden-md hidden-lg"><i class="fa fa-bars"></i></button>
                <div class="menu-box">
                    <div class="bg-menu hidden-md hidden-lg"></div>
                    <ul class="main-menu">
                        <li><a href="/" class="logo"><img src="/static/user/img/logo1.png"
                                    alt=""></a></li>
                        {{#each laymenu}}
                        <li class="menu-item-has-children">
                            <a href="#">{{TenDanhMuc}}</a>
                            {{!-- <ul class="sub-menu">
                                <li><a href="#"></a></li>      
                            </ul>                           --}}
                        </li>
                        {{/each}}
                        {{!-- <li><a href="#">Blog</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Portfolio</a>
                            <ul class="sub-menu">
                                <li><a href="#">Single project</a></li>
                                <li><a href="#">Page demo</a></li>
                                <li><a href="#">Page demo 2</a></li>
                                <li><a href="#">Page demo 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact us</a></li>

                        <li>
                            <button type="submit" class="btn btn-success dangkys" formaction="/user/dangkyuser.html">
                                <i class="fas fa-user-plus"></i>&nbsp;Đăng Ký</button>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-danger dangnhaps" formaction="/user/dangkyuser.html">
                                <i class="fas fa-user-plus"></i>&nbsp;Đăng Nhập</button>
                        </li> --}}
                    </ul>
                    <button class="btn btn-hide-menu hidden-md hidden-lg"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </div> {{!--#menu site --}    
        {{!-- <!-- Nav -->
        <div id="nav">
            <!-- Main Nav -->
            <div id="nav-fixed">
                <div class="container">
                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="index.html" class="logo"><img src="/static/user/img/logo1.png" alt=""></a>
                    </div>
                    <!-- /logo -->
                    <div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">Dropdown
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  </div> 
</div>

<h3>Dropdown Menu inside a Navigation Bar</h3>
<p>Click on the "Dropdown" link to see the dropdown menu.</p>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script> --}}
        <!-- nav -->
        {{!-- <ul class="nav-menu nav navbar-nav">
                        <li><a href="#">Newse</a>
                           <ul class="submenu">
                               <li><a href="#">PHP</a></li>
                               <li><a href="#">NodeJS</a></li>
                               <li><a href="#">DotNet</a></li>
                               <li><a href="#">C#</a></li>
                               </ul> 
                        </li>   
                                     
                        
                        {{!-- </li> --}}
        {{!-- <li><a href="#">Popular</a></li> --}}
        {{!-- <li class="cat-1"><a href="#">Web Design</a>
                            <ul class="submenu">
                               <li><a href="#">PHP</a></li>
                               <li><a href="#">NodeJS</a></li>
                               <li><a href="#">DotNet</a></li>
                               <li><a href="#">C#</a></li>
                           </ul>  
                        </li>
                        <li class="cat-2"><a href="#">JavaScript</a></li>
                        <li class="cat-3"><a href="#">Css</a></li>
                        <li class="cat-4"><a href="#">Jquery</a></li> 
                    </ul> --
                    <!-- /nav -->

                    <!-- search & aside toggle -->
                    {{!-- <div class="nav-btns">
                        <button class="aside-btn"><i class="fas fa-angle-double-down"></i></button>
                        <button class="search-btn"><i class="fa fa-search" style="color:"></i></button>
                        <div class="search-form">
                            <input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
                            <button class="search-close"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /search & aside toggle --> 
                {{!-- </div>
            </div> 
            <!-- /Main Nav -->
           
        </div>
        <!-- /nav -->
    </header>
    <!-- /Header -->
    --}}