<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use bootrap,font awesome cho sửa giao diện -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <title>Trang Chủ</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/user/css/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/static/user/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->

    <link type="text/css" rel="stylesheet" href="/static/user/css/style.css" />

    <style>

    </style>


</head>

<body>

    <!-- Header -->
    <header id="heade containerr">
        <div class="header-top">
            <div class="container">
                <div class="row ">
                    <ul class="list-inline">
                        <li><i class="fas fa-calendar-alt"> <span id="Console"></span></i></li>                                                             
                        {{#if req.session.user.user  }}
                        <li ><a href= "" >Hello {{req.session.user.user.TenHienThi}}<p></p> </a></li>
                        <li><a href="dangxuat">Log Out</a></li>                                               
                        {{else}}
                        <li><a href="dangky">Đăng Ký</a></li>
                        <li><a href="dangnhap">Đăng nhập</a></li> 
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-site">
            <div class="container">
                <button class="btn btn-show-menu hidden-md hidden-lg"><i class="fa fa-bars"></i></button>
                <div class="menu-box">
                    <div class="bg-menu hidden-md hidden-lg"></div>
                    <ul class="main-menu">
                        <li><a href="/" class="logo"><img src="/static/user/img/logo1.png"
                                    alt=""></a></li>
                        {{#each laymenu}}
                        <li class="menu-item-has-children">
                            <a href="/danhsach/{{IDDanhMuc}}">{{TenDanhMuc}}</a>
                        </li>
                        {{/each}}               
                    </ul>
                    <button class="btn btn-hide-menu hidden-md hidden-lg"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </div> 